mat-card { padding:16px; max-width:900px; margin:24px auto; }
.actions { margin-left: auto; display:flex; gap:8px; }

.grid {
  margin-top: 1rem;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
mat-grid-tile-footer {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
