.dialog-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  height: 95vh;
  width: 100%;
}

.full-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  z-index: 10;
}

.nav-btn.left { left: 20px; }
.nav-btn.right { right: 20px; }

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
